# Vite Environment Variables

# The API Base URL for the Django Backend (leave blank for relative /api/ when built, or absolute URL for dev/Vercel)
VITE_API_URL=http://localhost:8000/api/

# Google OAuth Client ID
VITE_GOOGLE_CLIENT_ID=326667250571-20fuohrlcrds388e8avifqogc3pa7krj.apps.googleusercontent.com

# Google reCAPTCHA v2 Site Key
VITE_RECAPTCHA_SITE_KEY=6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI
